@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
body {
  font: normal 16px Raleway;
  text-align: center;
  color: white;
  background: url("http://longwallpapers.com/Desktop-Wallpaper/doge-wallpapers-photo-For-Desktop-Wallpaper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

#tic-tac-toe {
  border-spacing: 0px;
  border-collapse: separate;
  margin: 30px auto;
}

#tic-tac-toe td {
  border: 2px solid #000;
  height: 100px;
  width: 100px;
  text-align: center;
  font: bold 60px Raleway;
}

#tic-tac-toe tr:first-child td {
  border-top: none
}

#tic-tac-toe tr:last-child td {
  border-bottom: none
}

#tic-tac-toe tr td:first-child {
  border-left: none;
}

#tic-tac-toe tr td:last-child {
  border-right: none;
}

#scoreboard .score {
  text-align: center;
  font-size: 30px
}

#scoreboard .score#player1 {
  color: blue;
}

button {
  display: inline-block;
  zoom: 1;
  padding: 2px 8px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  text-decoration: none;
  white-space: nowrap;
  font: normal 12px Raleway;
}

#scoreboard .score#player2 {
  color: red;
}